.categories-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 2rem;
  width: 100%;
  gap: 1.3rem;
}

.category-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1rem;
  padding: 1.5rem 4rem;
  border-radius: 1.5rem;
  color: #ccc;
  background-color: #222;
  font-weight: 700;
  font-size: 0.7rem;
  border: 0;
  transition: all 0.3ms ease;
}

.category-button:hover {
  cursor: pointer;
  background-color: #3f3f3f;
}
