* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #0f0f0f;
}

/*Webkit(Chrome, Android browser, Safari, Edge...)*/
body::-webkit-scrollbar {
  display: none;
}

.container {
  min-height: 100vh;
  overflow-x: hidden;
}
