.video-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 95%;
  height: 180px;
  margin: 0.5rem;
  border-radius: 0.7rem;
  background-color: transparent;
}

.video-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  border-radius: 0.7rem;
  object-fit: cover;
}

.video-card-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  bottom: 0;
  height: 56px;
  width: 100%;
  background-color: #1e1e1e95;
  border-radius: 0 0 0.7rem 0.7rem;
  font-weight: 700;
  visibility: hidden;
  transition: all 0.8ms ease-in-out;
}

.video-card-container:hover .video-card-title {
  visibility: visible;
}

.title {
  color: #fff;
  font-size: 0.9rem;
}

.subtitle {
  color: #ccc;
  font-size: 0.6rem;
  align-self: flex-start;
}

/* tablet */
@media screen and (min-width: 541px) and (max-width: 768px) {
  .video-card-container {
    width: 250px;
  }

  .video-card-image {
    width: 250px;
  }
}

/* laptop */
@media screen and (min-width: 769px) {
  .video-card-container {
    width: 320px;
  }

  .video-card-image {
    width: 320px;
  }
}
