.video-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 95%;
  height: 240px;
  margin: 0.5rem;
  border-radius: 0.7rem;
  background-color: transparent;
}

.video-card-image {
  width: 100%;
  height: 180px;
  border-radius: 0.7rem;
  object-fit: cover;
}

.video-card-title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 56px;
  width: 100%;
  background-color: transparent;
  font-weight: 700;
  gap: 0.5rem;
}

.title {
  color: #fff;
  font-size: 0.9rem;
}

.subtitle {
  color: #ccc;
  font-size: 0.6rem;
  align-self: flex-start;
}

/* tablet */
@media screen and (min-width: 541px) and (max-width: 768px) {
  .video-card-container {
    width: 250px;
  }

  .video-card-image {
    width: 250px;
  }
}

/* laptop */
@media screen and (min-width: 769px) {
  .video-card-container {
    width: 320px;
  }

  .video-card-image {
    width: 320px;
  }
}
